#!/usr/bin/env bash

# This file is a sample sourcing script.
# Adapt it accordingly

# Only set this if you are running celery as root (usually not advisable)
export C_FORCE_ROOT=True

export INASAFE_HEADLESS_DB_USERNAME=docker
export INASAFE_HEADLESS_DEPLOY_OUTPUT_DIR=/var/www/html/headless/
export INASAFE_HEADLESS_DB_PASS=docker
export InaSAFEQGIS=/home/lucernae/host/Projects/InaSAFE/inasafe-headless/src/inasafe
export INASAFE_HEADLESS_DEPLOY_OUTPUT_URL=http://localhost/headless/
export INASAFE_HEADLESS_BROKER_HOST=redis://localhost:6379/0
export INASAFE_SOURCE_DIR=/home/lucernae/host/Projects/InaSAFE/inasafe-headless/src/inasafe
