div.clearer {
    clear: both;
}

div.related h3 {
    display: none;
}
div.related ul {
    list-style: outside none none;
    margin: 0 auto;
    padding: 0;
}
div.related li {
    display: inline;
}
div.related li.right {
    float: right;
    margin-right: 5px;
}
div.sphinxsidebarwrapper {
    padding: 10px 5px 0 10px;
}
div.sphinxsidebar {
    float: left;
    font-size: 90%;
    margin-left: -100%;
    width: 230px;
}
div.sphinxsidebar ul {
    list-style: outside none none;
}
div.sphinxsidebar ul ul, div.sphinxsidebar ul.want-points {
    list-style: outside none square;
    margin-left: 20px;
}
div.sphinxsidebar ul ul {
    margin-bottom: 0;
    margin-top: 0;
}
div.sphinxsidebar form {
    margin-top: 10px;
}
div.sphinxsidebar input {
    border: 1px solid #98dbcc;
    font-family: sans-serif;
    font-size: 1em;
}
div.sphinxsidebar #searchbox input[type="text"] {
    width: 170px;
}
div.sphinxsidebar #searchbox input[type="submit"] {
    width: 30px;
}
img {
    border: 0 none;
    max-width: 100%;
}
ul.search {
    margin: 10px 0 0 20px;
    padding: 0;
}
ul.search li {
    background-image: url("file.png");
    background-position: 0 7px;
    background-repeat: no-repeat;
    padding: 5px 0 5px 20px;
}
ul.search li a {
    font-weight: bold;
}
ul.search li div.context {
    color: #888;
    margin: 2px 0 0 30px;
    text-align: left;
}
ul.keywordmatches li.goodmatch a {
    font-weight: bold;
}
table.contentstable {
    width: 90%;
}
table.contentstable p.biglink {
    line-height: 150%;
}
a.biglink {
    font-size: 1.3em;
}
span.linkdescr {
    font-size: 90%;
    font-style: italic;
    padding-top: 5px;
}
table.indextable {
    width: 100%;
}
table.indextable td {
    text-align: left;
    vertical-align: top;
}
table.indextable dl, table.indextable dd {
    margin-bottom: 0;
    margin-top: 0;
}
table.indextable tr.pcap {
    height: 10px;
}
table.indextable tr.cap {
    background-color: #f2f2f2;
    margin-top: 10px;
}
img.toggler {
    cursor: pointer;
    margin-right: 3px;
    margin-top: 3px;
}
div.modindex-jumpbox {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin: 1em 0;
    padding: 0.4em;
}
div.genindex-jumpbox {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin: 1em 0;
    padding: 0.4em;
}
a.headerlink {
    visibility: hidden;
}
h1:hover > a.headerlink, h2:hover > a.headerlink, h3:hover > a.headerlink, h4:hover > a.headerlink, h5:hover > a.headerlink, h6:hover > a.headerlink, dt:hover > a.headerlink {
    visibility: visible;
}
div.body p.caption {
    text-align: inherit;
}
div.body td {
    text-align: left;
}
.field-list ul {
    padding-left: 1em;
}
.first {
    margin-top: 0 !important;
}
p.rubric {
    font-weight: bold;
    margin-top: 30px;
}
img.align-left, .figure.align-left, object.align-left {
    clear: left;
    float: left;
    margin-right: 1em;
}
img.align-right, .figure.align-right, object.align-right {
    clear: right;
    float: right;
    margin-left: 1em;
}
img.align-center, .figure.align-center, object.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.align-left {
    text-align: left;
}
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
div.sidebar {
    background-color: #ffe;
    border: 1px solid #ddb;
    float: right;
    margin: 0 0 0.5em 1em;
    padding: 7px 7px 0;
    width: 40%;
}
p.sidebar-title {
    font-weight: bold;
}
div.topic {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 7px 7px 0;
}
p.topic-title {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 10px;
}
div.admonition {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 7px;
}
div.admonition dt {
    font-weight: bold;
}
div.admonition dl {
    margin-bottom: 0;
}
p.admonition-title {
    font-weight: bold;
    margin: 0 10px 5px 0;
}
div.body p.centered {
    margin-top: 25px;
    text-align: center;
}
table.docutils {
    border: 0 none;
    border-collapse: collapse;
}
table.docutils td, table.docutils th {
    border-color: -moz-use-text-color -moz-use-text-color #aaa;
    border-style: none none solid;
    border-width: 0 0 1px;
    padding: 1px 8px 1px 5px;
}
table.field-list td, table.field-list th {
    border: 0 none !important;
}
table.footnote td, table.footnote th {
    border: 0 none !important;
}
th {
    padding-right: 5px;
    text-align: left;
}
table.citation {
    border-left: 1px solid gray;
    margin-left: 1px;
}
table.citation td {
    border-bottom: medium none;
}
ol.arabic {
    list-style: outside none decimal;
}
ol.loweralpha {
    list-style: outside none lower-alpha;
}
ol.upperalpha {
    list-style: outside none upper-alpha;
}
ol.lowerroman {
    list-style: outside none lower-roman;
}
ol.upperroman {
    list-style: outside none upper-roman;
}
dl {
    margin-bottom: 15px;
}
dd p {
    margin-top: 0;
}
dd ul, dd table {
    margin-bottom: 10px;
}
dd {
    margin-bottom: 10px;
    margin-left: 30px;
    margin-top: 3px;
}
dt:target, .highlighted {
    background-color: #fbe54e;
}
dl.glossary dt {
    font-size: 1.1em;
    font-weight: bold;
}
.field-list ul {
    margin: 0;
    padding-left: 1em;
}
.field-list p {
    margin: 0;
}
.optional {
    font-size: 1.3em;
}
.versionmodified {
    font-style: italic;
}
.system-message {
    background-color: #fda;
    border: 3px solid red;
    padding: 5px;
}
.footnote:target {
    background-color: #ffa;
}
.line-block {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
}
.line-block .line-block {
    margin-bottom: 0;
    margin-left: 1.5em;
    margin-top: 0;
}
.guilabel, .menuselection {
    font-family: sans-serif;
}
.accelerator {
    text-decoration: underline;
}
.classifier {
    font-style: oblique;
}
abbr, acronym {
    border-bottom: 1px dotted;
    cursor: help;
}
pre {
    overflow-x: auto;
    overflow-y: hidden;
}
td.linenos pre {
    background-color: transparent;
    border: 0 none;
    color: #aaa;
    padding: 5px 0;
}
table.highlighttable {
    margin-left: 0.5em;
}
table.highlighttable td {
    padding: 0 0.5em;
}
tt.descname {
    background-color: transparent;
    font-size: 1.2em;
    font-weight: bold;
}
tt.descclassname {
    background-color: transparent;
}
tt.xref, a tt {
    background-color: transparent;
    font-weight: bold;
}
h1 tt, h2 tt, h3 tt, h4 tt, h5 tt, h6 tt {
    background-color: transparent;
}
.viewcode-link {
    float: right;
}
.viewcode-back {
    float: right;
    font-family: sans-serif;
}
div.viewcode-block:target {
    margin: -1px -10px;
    padding: 0 10px;
}
img.math {
    vertical-align: middle;
}
div.body div.math p {
    text-align: center;
}
span.eqno {
    float: right;
}


@media print {
div.document, div.documentwrapper, div.bodywrapper {
    margin: 0 !important;
    width: 100%;
}
div.sphinxsidebar, div.related, div.footer, #top-link {
    display: none;
}
}
