*.pyc
*.*~
*~
docs/release-approval-docs
pydevpath.txt
.coverage
.noseids
.svn
build
*.orig
*.*.orig
qgispath.txt
riab_test_data
riab_demo_data
.project
.pydevproject
.settings
docs/build
nosetests.xml
pep8.log
pyflakes.log
result.txt
keywords.db
coverage.xml
.DS_Store
docs/_build
setup.cfg
run_qgis.sh
.achievements
.idea/runConfigurations/NoseTests_Realtime.xml
.idea/workspace.xml
pydev
.idea/inasafe-dev.iml
.idea/misc.xml
.idea/inasafe-realtime.iml
.idea/misc.xml
.idea/runConfigurations/make_map.xml
realtime/fixtures/context/gadm/
realtime/fixtures/context/boundaries.*
pylint.log
safe/test/data/hazard/keywordless_layer.tif.aux.xml
scripts/nightly-build-repo/apache.conf
.idea
docs/output
docs/release-approval-docs
.vagrant
realtime/fixtures/context/gadm*
realtime/fixtures/context/TM_WORLD_BORDERS-0.3*
realtime/fixtures/context/Readme.txt
libpeerconnection.log
*.bak
realtime/fixtures/indonesia.sqlite
*.aux.xml
realtime/fixtures/exposure/population.*
realtime/fixtures/exposure/IDN_mosaic/
realtime/server_config.py
nohup.out
venv
