language: python

python:
  - "2.7"

virtualenv:
  system_site_packages: true

branches:
  only:
    - master
    - develop
    - experimental

addons:
  apt:
    packages:
      - git
      - python-software-properties

before_install:
  - sudo apt-get -qq -y update

install:
#  - sudo apt-get install -y software-properties-common
#  - sudo add-apt-repository http://qgis.org/debian-ltr  # for QGIS LTR
  - sudo add-apt-repository -y ppa:ubuntugis/ubuntugis-unstable  # for QGIS
  - sudo apt-get update
  - sudo apt-get install -y --force-yes qgis python-qgis pyflakes python-scientific
  - pip install coverage
  - pip install nosexcover
  - pip install nose
  - pip install beautifulsoup
  - pip install --upgrade pip
  - pip install --upgrade pep8
  - pip install --upgrade pylint
  - pip install scrutinizer-ocular
  - echo "Checking out test data at" `date`
  - make testdata

before_script:
  - echo "Build starting on " `date`
  - export QGIS_PREFIX_PATH=/usr
  - export PYTHONPATH=${QGIS_PREFIX_PATH}/share/qgis/python/:${QGIS_PREFIX_PATH}/share/qgis/python/plugins:`pwd`
  - echo "PYTHONPATH:" $PYTHONPATH
  - export LD_LIBRARY_PATH=${QGIS_PREFIX_PATH}/lib
  - dpkg -s qgis | grep 'Version'

script:
  - make pep8
#  - make pylint  # disable it until we make it works in Travis.
  - xvfb-run --server-args="-screen 0, 1024x768x24" nosetests -A 'not slow' -v --with-id --with-xcoverage --with-xunit --verbose --cover-package=safe safe

notifications:
  irc:
    channels:
      - "irc.freenode.org#inasafe"
    use_notice: true

  webhooks:
    urls:
      - https://webhooks.gitter.im/e/a021ad05fffeac7b0a92L
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: always     # options: [always|never|change] default: always

  email:
    - tim@kartoza.com
    - ismail@kartoza.com
    - rizky@kartoza.com
