services:
    - docker

env:
  global:
    - ON_TRAVIS=true
    - MUTE_LOGS=true
    - WITH_PYTHON_PEP=true
    - IMAGE=qgis/qgis

  matrix:
    # QGIS Master
    - QGIS_VERSION_TAG=latest

language: python

cache:
  directories:
    - $HOME/.cache/pip

python:
  - "3.6"

branches:
  only:
    - master
    - develop
    - experimental

addons:
  apt:
    packages:
      - git
      - python-software-properties

before_install:
  - docker pull ${IMAGE}:${QGIS_VERSION_TAG}

install:
  - pip install --upgrade pip
  - pip install --upgrade pep257
  - pip install --upgrade flake8
  - docker run -d --name qgis-testing-environment -v ${TRAVIS_BUILD_DIR}:/tests_directory -e WITH_PYTHON_PEP=${WITH_PYTHON_PEP} -e INASAFE_LOGGING_LEVEL=50 -e INASAFE_DISABLE_WELCOME_MESSAGE=1 -e ON_TRAVIS=${ON_TRAVIS} -e MUTE_LOGS=${MUTE_LOGS} -e DISPLAY=:99 ${IMAGE}:${QGIS_VERSION_TAG}
  - sleep 10
  - docker exec -it qgis-testing-environment sh -c "qgis_setup.sh inasafe"

  # FIX default installation because the sources must be in "inasafe" parent folder
  - docker exec -it qgis-testing-environment sh -c "rm -f  /root/.local/share/QGIS/QGIS3/profiles/default/python/plugins/inasafe"
  - docker exec -it qgis-testing-environment sh -c "ln -s /tests_directory/ /root/.local/share/QGIS/QGIS3/profiles/default/python/plugins/inasafe"

  - docker exec -it qgis-testing-environment sh -c "pip3 install -r /tests_directory/REQUIREMENTS.txt"
  - docker exec -it qgis-testing-environment sh -c "pip3 install -r /tests_directory/REQUIREMENTS_TESTING.txt"

script:
  # The real test
  - docker exec -it qgis-testing-environment sh -c "qgis_testrunner.sh test_suite.test_package"
  - make pep257
  - make flake8

notifications:
  irc:
    channels:
      - "irc.freenode.org#inasafe"
    use_notice: true

  webhooks:
    urls:
      - https://webhooks.gitter.im/e/a021ad05fffeac7b0a92L
      - https://scalar.vector.im/api/neb/services/hooks/dHJhdmlzLWNpLyU0MHRpbWxpbnV4JTNBbWF0cml4Lm9yZy8lMjFvUHVERUVxZU5vclJxV3hLWWQlM0FtYXRyaXgub3Jn
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: always    # options: [always|never|change] default: always

  email:
    - tim@kartoza.com
    - ismail@kartoza.com
    - rizky@kartoza.com
    - rohmat@kartoza.com

sudo: false
