services:
    - docker

env:
  global:
    - ON_TRAVIS=true
    - ON_DOCKER=true
    # - IMAGE=elpaso/qgis-testing-environment
    # - IMAGE=etrimaille/qgis-testing-environment
    - IMAGE=boundlessgeo/qgis-testing-environment

  matrix:
    # Tags from elpaso and etrimaille
    # - QGIS_VERSION_TAG=release-2_8
    # - QGIS_VERSION_TAG=release-2_14

    # Tags from boundlessgeo
    - QGIS_VERSION_TAG=release # Current 2.14
    # - QGIS_VERSION_TAG=master_2 # Current 2.17
    # - QGIS_VERSION_TAG=master # Current 3.0

language: python

cache:
  directories:
    - $HOME/.cache/pip

python:
  - "2.7"

virtualenv:
  system_site_packages: true

branches:
  only:
    - master
    - develop
    - experimental

addons:
  apt:
    packages:
      - git
      - python-software-properties

before_install:
  - docker pull ${IMAGE}:${QGIS_VERSION_TAG}

install:
  - pip install --upgrade pip
  - pip install --upgrade pep8
  - echo "Checking out test data at" `date`
  - make testdata
  - docker run -d --name qgis-testing-environment -v ${TRAVIS_BUILD_DIR}_data:/inasafe_data -v ${TRAVIS_BUILD_DIR}:/tests_directory -e ON_TRAVIS=${ON_TRAVIS} -e DISPLAY=:99 ${IMAGE}:${QGIS_VERSION_TAG}
  - sleep 10
  - docker exec -it qgis-testing-environment sh -c "qgis_setup.sh inasafe"

  - docker exec -it qgis-testing-environment sh -c "ln -s /tests_directory /root/.qgis2/python/plugins/inasafe"

script:
  - make pep8
  - docker exec -it qgis-testing-environment sh -c "qgis_testrunner.sh test_suite.test_package"

notifications:
  irc:
    channels:
      - "irc.freenode.org#inasafe"
    use_notice: true

  webhooks:
    urls:
      - https://webhooks.gitter.im/e/a021ad05fffeac7b0a92L
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: always    # options: [always|never|change] default: always

  email:
    - tim@kartoza.com
    - ismail@kartoza.com
    - rizky@kartoza.com
    - etienne@kartoza.com

sudo: false
