include safe/gui/ui/*
include safe/messaging/example/resources/*
include safe/gui/tools/shake_grid/converter_data/*
include safe/report/test/fixtures/*
recursive-include safe/metadata/ *
recursive-include safe/test/data/ *
recursive-include safe/i18n/ *
recursive-include safe/resources *
