th {text-align: left;}
table {font-size: 12px ;!important;}
th.button-cell{
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 1px rgba(200, 200, 200, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
  width: 92%;
}
.warning {
  color: #fff;
  background-color: #da4f49;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  padding-left: 4px;
}
.problem {
  color: #fff;
  background-color: #faa732;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  padding-left: 4px;
}
.info, caption {
  color: #fff;
  background-color: #0074cc;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
  background-image: -o-linear-gradient(top, #0088cc, #0055cc);
  background-image: linear-gradient(top, #0088cc, #0055cc);
  background-repeat: repeat-x;
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  padding-left: 4px;
}

.suggestion {
  color: #fff;
  background-color: #10a142;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#10a142), to(#0a6228));
  background-image: -webkit-linear-gradient(top, #10a142, #0a6228);
  background-image: -o-linear-gradient(top, #10a142, #0a6228);
  background-image: linear-gradient(top, #10a142, #0a6228);
  background-repeat: repeat-x;
  border-color: #10a142 #0a6228 #0a6228;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  padding-left: 4px;
}

.inverse {
  color: #fff;
  background-color: #000;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2f2f2f), to(#000000));
  background-image: -webkit-linear-gradient(top, #2f2f2f, #000000);
  background-image: -o-linear-gradient(top, #2f2f2f, #000000);
  background-image: linear-gradient(top, #2f2f2f, #000000);
  background-repeat: repeat-x;
  border-color: rgba(0, 14, 40, 0.66) #2f2f2f #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  padding-left: 4px;
}
