body {
  font-family: 'Ubuntu', 'Lucida Grande', 'Segoe UI', 'Arial', sans-serif;
}
th {text-align: left;}
table {font-size: 12px ;!important;}
th.button-cell{
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 1px rgba(200, 200, 200, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
  width: 92%;
}
.branding {
	background: #2F3338;
	padding: 2px 20px;
	margin: 0 -15px;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-right: -15px;
  margin-left: -15px;
  padding-left: 20px;
  padding-bottom: 0px;
  padding-top: 0px;
}
.warning {
  color: #fff;
  background-color: #f15a2b;
  line-height: 2;
}
.title {
  color: #fff;
  background-color: #3d9d45;
  line-height: 2;
  margin-bottom: 0;
}
.section {
  color: #fff;
  background-color: #50cf5c;
  line-height: 2;
  margin-bottom: 0;
}
.subsection {
  color: #fff;
  background-color: #6ec5e6;
  line-height: 2;
  margin-bottom: 0;
}

.problem {
  color: #fff;
  background-color: #faa732;
  line-height: 2;
  margin-bottom: 0;
}

.details-subgroup {
  color: #fff;
  background-color: #8d9196;
  line-height: 2;
}

.info, caption {
  color: #fff;
  background-color: #3DB2DD;
  line-height: 2;
}

.sub_info {
  color: #fff;
  background-color: #6ec5e6;
  line-height: 2;
}

.suggestion {
  color: #fff;
  background-color: #50CF5C;
  line-height: 2;
}

.inverse {
  color: #fff;
  background-color: #000;
  line-height: 2;
}

.hidden {
    visibility: hidden;
}

.caption {
  font-size: 8pt;
}

/* List styling */
.customBulletList, .customBulletList ul {
  margin-top: 0;
  padding-left: 2em;
  list-style-type: none;
}
.customBulletList li:before {
  position: absolute;
  margin-left: -1.3em;
  font-weight: bold;
}
.customBulletList li.tick:before {
  content: "\2713";
}
p {
  margin-bottom: 10px;
  margin-top: 10px;
}

.category {
  color: #3DB2DD;
  background-color: #fff;
  line-height: 2;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 25px;
}

/* Try to prevent page text being cut off at the bottom when printing. */
@page  {
    size: auto;   /* auto is the initial value */

    /* this affects the margin in the printer settings */
    margin: 25mm 25mm 25mm 25mm;
}

/* Try to prevent images wider than content. */
img{
    max-width: 100%;
}