/** This section is for heading counters . See http://philarcher.org/diary/2013/headingnumbers/

It overrides the styles in InaSAFE.css so that headers are numbered

**/
body {counter-reset: h2}
h2.section {counter-reset: h3}
h3.subsection {counter-reset: h4}
h4 {counter-reset: h5}
h5 {counter-reset: h6}

h2.section:before {counter-increment: h2; content: counter(h2) ". "}
h3.subsection:before {counter-increment: h3; content: counter(h2) "." counter(h3) ". "}
h4:before {counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) ". "}
h5:before {counter-increment: h5; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "}
h6:before {counter-increment: h6; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". "}
h2.nocount:before, h3.nocount:before, h4.nocount:before, h5.nocount:before, h6.nocount:before { content: ""; counter-increment: none }
/** End counters section **/

