<VirtualHost *:80>
  ServerAdmin tim@linfiniti.com
  ServerName inasafe-docs.linfiniti.com

  DocumentRoot /home/web/inasafe-docs/
  DirectoryIndex plugins.xml

  <Directory /home/web/inasafe-docs/>
    Order deny,allow
    Allow from all
  </Directory>

  ErrorLog /var/log/apache2/inasafe-docs.linfiniti.error.log
  CustomLog /var/log/apache2/inasafe-docs.linfiniti.access.log combined
  ServerSignature Off

</VirtualHost>
