{% if use_aggregation %}
    {% for _, value in sections.iteritems() %}
        {% if value and value.rows %}
        <h5 class="info">
            <i class="icon-info-sign icon-white"></i> {{ value.header|capitalize }}
        </h5>
        <table class="table table-striped condensed">
            <thead>
                <tr>
                    {% for column in value.columns %}
                        {% if loop.first %}
                        <th class="text-left">
                        {% else %}
                        <th class="text-right">
                        {% endif %}
                            {{ column|capitalize }}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in value.rows %}
                <tr>
                    {% for column in row %}
                        {% if loop.first %}
                        <th class="text-left">{{ column|capitalize }}</th>
                        {% else %}
                        <td class="text-right">{{ column }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                {% for column in value.totals %}
                    {% if loop.first %}
                    <th class="text-left">{{ column|capitalize }}</th>
                    {% else %}
                    <td class="text-right">{{ column }}</td>
                     {% endif %}
                {% endfor %}
                </tr>
            </tfoot>
        </table>
        <div>
            {{ value.notes }}
        </div>
        {% endif %}
    {% endfor %}
{% elif sections_not_empty %}
<h5 class="info">
    <i class="icon-info-sign icon-white"></i> {{ header|capitalize }}
</h5>
<table class="table table-striped condensed">
    <tbody>
        {% for _, value in sections.iteritems() %}
            <tr>
                {% for column in value.columns %}
                    {% if loop.first %}
                    <th class="text-left">
                    {% else %}
                    <th class="text-right">
                    {% endif %}
                        {{ column|capitalize }}
                    </th>
                {% endfor %}
            </tr>
            {% for row in value.rows %}
            <tr>
                {% for column in row %}
                    {% if loop.first %}
                    <td class="text-left">{{ column|capitalize }}</td>
                    {% else %}
                    <td class="text-right">{{ column }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
{% endif %}
